/*----------Grunddesign----------*/
body {
    background-color: #e6e6e6;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*    position: absolute;*/
}

img {
    width: 100%;
}

/*----------FLEX----------*/
.col_bottom,
.col_top,
.col,
.col_wide,
.col_narrow {
    flex-basis: 300px;
    flex-grow: 1;

}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}


/*----------Dropshadow - billeder----------*/

#news .col,
#store .col_narrow,
#books .col_narrow,
#workshops .col_top,
#about .col_top,
#close .col_wide,
#kalender .img_1,
#kalender .img_2,
#kalender .img_3,
#new_program .col_top,
#onlineshop .store_1,
#onlineshop .store_2,
#shop_in_store .img_1,
#shop_in_store .img_2,
#shop_in_store .img_3,
#shop_in_store .img_4,
#workshop_site .img_2,
#workshop_site .img_3,
#about_gallery .about_1,
#about_gallery .about_2,
#about_gallery .about_3,
#about_gallery .about_4,
#about_gallery .about_5,
#about_gallery .about_6 {
    box-shadow: 1px 1px 1px #000000;
    /*    border-style: solid;*/
}


/*----------Grunddesign SLUT----------*/


/*---------Tekst style---------*/


h1 {
    position: relative;
    width: 100%;
    text-align: center;
    top: -85px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    z-index: 600;

}


h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3em;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 300;
    top: -88px;
    position: relative;
    color: black;
    z-index: 600;
    width: 100%;

}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.05rem;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-weight: 300;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05em;
    font-weight: 300;
}

.line_space {
    line-height: 2;
}

#more_button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    /*    text-transform: uppercase;*/
    font-size: 0.9rem;
    text-align: center;
    font-weight: 300;
    display: block;
    /*    margin: auto;*/
}


/*---------Tekst style SLUT---------*/


/*------------------Slopes design----------------------------*/


.baggrundsfarve:first-child h1 {}

.content {
    margin: 0;
    padding: 0;
    transform: skewY(5deg);
    display: flex;
    flex-wrap: wrap;
}

.baggrundsfarve {

    transform: skewY(-5deg);
    background-color: #e6e6e6;
    z-index: 10;
    padding: 50px;
    position: relative;
    top: -50px;
    padding-bottom: 150px;

}


.baggrundsfarve2 {
    transform: skewY(-5deg);
    background-color: white;
    z-index: 10;
    padding: 50px;
    position: relative;
    top: -50px;
    padding-bottom: 150px;

}

/*------------------Slopes design SLUT----------------------------*/

/*---------Header design---------*/


a {
    visibility: visible;
    text-decoration: none;

}

header {
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 10000;
    height: 4rem;
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
}


header nav a {

    font-size: 1.2rem;
    padding: 0.5rem;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.header nav a:hover {
    color: #A25F67;
}

.header ul {
    margin: 0;
    padding-right: 20px;
    list-style: none;
    overflow: hidden;
    background-color: white;
}

.header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

.header ul a:hover {}



/*
.header .logo {
    float: left;
    position: relative;
    background-image: url(img/logo/NW_Logo_big_1920px.jpg);
    width: 5vw;
    height: 3vw;
}
*/


.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 5px;
    transition: all .2s ease-out;
}

.header .menu-icon .nav-icon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -5px;
    transition: all .2s ease-out;
}

.header .menu-btn {
    display: none;

}

.header .menu-btn:checked ~ .menu {
    max-height: 440px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}


@media (min-width:760px) {

    .header {
        text-align: center;
        padding-right: 20vw;
        background-color: white;
    }

    .header ul {
        padding-right: 250px;
        background-color: white;
    }

    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 10px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        align-content: center;
    }

    .header .menu-icon {
        display: none;
    }

    .header .logo {
        float: left;
        position: relative;
        background-size: cover;
        background-image: url(img/logo/NW_Logo_big_1920px.jpg);
        width: 173px;
        height: 71px;
        padding-left: 250px;
        z-index: 10;
    }

}


/*---------Header design SLUT---------*/

/*---------Landingpage design---------*/


#overskrift {
    background-color: antiquewhite;
}

#splash {
    height: 40vh;

    background-size: cover;
}

#splash .logo {
    background-image: url(img/logo/NW_Logo_big%20copy.png);
    position: relative;
    background-size: cover;
    width: 65vw;
    height: 27vw;
    left: 4vw;
    top: 20vw;
    align-content: center;
}

#news {}

#news .col {
    background-image: url(img/FB_CLOSE_Flyer.jpg);
    position: relative;
    background-size: contain;
    width: 74vw;
    height: 42vw;
}

#store {}

#store .top .col_narrow {
    position: relative;
    background-image: url(img/billeder_05_content/2);
    background-size: cover;
    width: 74vw;
    height: 110vw;
}

#books {}

#books .col_narrow {
    background-image: url(img/books/finalbooks/sameti.jpg);
    background-size: cover;
    width: 74vw;
    height: 98vw;
}

#workshops {}

#workshops .col_top {
    background-image: url(img/billeder_05_content/New_Final_%20FLYER_JH.jpg);
    background-size: cover;
    width: 74vw;
    height: 42vw;
}


#about {}

#about .col_top {
    flex-basis: 300px;
    flex-grow: 1;
    background-image: url(img/about.jpg);
    background-size: cover;
    overflow: hidden;
    width: 74vw;
    height: 49.3vw;
}


#footer {}

/*---------Landingpage design SLUT---------*/

/*---------News design---------*/

#overskrift_news {
    width: 100%;
    height: 15vh;
    background-color: #e6e6e6;
    background-size: cover;
}


#close .col_wide {
    background-image: url(img/FB_CLOSE_Flyer.jpg);
    position: relative;
    background-size: cover;
    width: 74vw;
    height: 42vw;

}

#kalender {
    background-color: #e6e6e6;
}

#kalender .img_1 {
    background-image: url(img/billeder_05_content/kalender_01.jpg);
    background-size: cover;
    width: 74vw;
    height: 74vw;

}

#kalender .img_2 {
    background-image: url(img/billeder_05_content/kalender_02.jpg);
    background-size: cover;
    width: 74vw;
    height: 74vw;

}

#kalender .img_3 {
    background-image: url(img/billeder_05_content/kalender_03.jpg);
    background-size: cover;
    width: 74vw;
    height: 74vw;

}

#new_program .col_top {
    background-image: url(img/billeder_05_content/New_Final_%20FLYER_JH.jpg);
    background-size: cover;
    width: 74vw;
    height: 41.7vw;

}

/*---------News design SLUT---------*/

/*---------Store design---------*/


#overskrift_news {
    width: 100%;
    height: 15vh;
    background-color: #e6e6e6;
    background-size: cover;
    top: 15vw;
}

#onlineshop .store_1 {
    background-image: url(img/billeder_05_content/store_01.jpg);
    background-size: cover;
    width: 74vw;
    height: 74vw;

}

#onlineshop .store_2 {
    background-image: url(img/billeder_05_content/store_02.jpg);
    background-size: cover;
    width: 74vw;
    height: 74vw;

}

#onlineshop .pic_cap p {
    text-align: center;
}

#onlineshop button {

    /*----Her skal køb knappen styles-----*/
}


#shop_in_store {
    background-color: #e6e6e6;
}

#shop_in_store .img_1 {
    background-image: url(img/billeder_05_content/1.jpg);
    background-size: cover;
    width: 74vw;
    height: 108.4vw;

}

#shop_in_store .img_2 {
    background-image: url(img/billeder_05_content/2);
    background-size: cover;
    width: 74vw;
    height: 108.4vw;

}

#shop_in_store .img_3 {
    background-image: url(img/billeder_05_content/3);
    background-size: cover;
    width: 74vw;
    height: 108.4vw;

}

#shop_in_store .img_4 {
    background-image: url(img/billeder_05_content/4);
    background-size: cover;
    width: 74vw;
    height: 108.4vw;

}

#shop_in_store .pic_cap p {
    text-align: center;
}


#footer_store {
    background-color: #ffffff;
}

/*---------Store design SLUT---------*/

/*---------Books design---------*/


#books_site .sectionwrapper {
    background-image: url(img/SVG/SVG/skewbooks.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;

}

#books_site h1 {
    top: -40px;
}

#books_site .menu-icon {}

.scroll {
    position: relative;
    display: flex;
    overflow: scroll;
    align-items: flex-end;
    top: -30px;

}

.scroll div img {
    margin-top: 80px;
    margin-right: 90px;
    object-fit: cover;

}


.book_1 img {
    background-size: cover;
    width: 65vw;
    height: 43vw;

}

.book_2 img {
    position: relative;
    background-size: cover;
    width: 65vw;
    height: 87vw;
    box-shadow: 30px 15px 30px rgba(0, 0, 0, 0.5);
    margin-left: 80px;


}

.book_3 img {
    background-size: cover;
    width: 65vw;
    height: 92vw;
    box-shadow: 30px 15px 30px rgba(0, 0, 0, 0.5);

}

.book_4 img {
    background-size: cover;
    width: 65vw;
    height: 97vw;
    box-shadow: 30px 15px 30px rgba(0, 0, 0, 0.5);
}

.book_5 img {
    background-size: cover;
    width: 65vw;
    height: 86vw;
    box-shadow: 30px 15px 30px rgba(0, 0, 0, 0.5);

}

/*---------Books design SLUT---------*/

/*---------Workshop design---------*/

#workshop_site .img_1 {
    background-image: url(img/billeder_05_content/New_Final_%20FLYER_JH.jpg);
    background-size: cover;
    width: 74vw;
    height: 41.7vw;
}

#workshop_site .img_2 {
    background-image: url(img/billeder_05_content/Flyer_workshop_Calin_Kruse_crop.jpg);
    background-size: cover;
    width: 74vw;
    height: 40.4vw;
    margin-bottom: 10px;

}

#workshop_site .img_3 {
    background-image: url(img/billeder_05_content/work3.png);
    background-size: cover;
    width: 74vw;
    height: 49.3vw;

}

/*---------Workshop design SLUT---------*/

/*---------About design-----------------*/

#about_gallery .about_1,
.about_2,
.about_3,
.about_4,
.about_5 {
    margin-bottom: 10px;
}

.about_1 {
    background-image: url(img/billeder_05_content/about_01.jpg);
    background-size: cover;
    width: 74vw;
    height: 49.3vw;

}

.about_2 {
    background-image: url(img/billeder_05_content/about_02.jpg);
    background-size: cover;
    width: 74vw;
    height: 49.3vw;

}

.about_3 {
    background-image: url(img/billeder_05_content/about_03.jpg);
    background-size: cover;
    width: 74vw;
    height: 49.3vw;

}

.about_4 {
    background-image: url(img/billeder_05_content/about_04.jpg);
    background-size: cover;
    width: 74vw;
    height: 49.3vw;

}

.about_5 {
    background-image: url(img/billeder_05_content/about_05.jpg);
    background-size: cover;
    width: 74vw;
    height: 49.3vw;

}

.about_6 {
    background-image: url(img/billeder_05_content/about_06.jpg);
    background-size: cover;
    width: 74vw;
    height: 49.3vw;

}

/*---------About design SLUT-----------------*/

/*---------Mediaquery-----------------*/




























































/*-----------Oliver linjer 800-899-------------*/


































































































/*-----------Oliver linjer SLUT-------------*/
/*-----------josefine linjer 900-1000-------------*/



#kalender h2 {
    top: -95px;

}


#new_program h2 {
    top: -25px;

}



.store_2 {
    margin-top: 50px;
}

#shop_in_store .img_2,
.img_3,
.img_4 {
    margin-top: 25px;
}























































































/*-----------josefine linjer SLUT-------------*/
